{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/members/registerPage.css' %}">
{% endblock %}

{% block content %}

<div class="register-content">
    <div class="container">
        <h1> Register</h1>
        <div class="register-form">
            <form class="form-container" method="POST" action="">
                {% csrf_token %}
                <div class="username">
                    {{form.username}}
                </div>

                <div class="email">
                    {{form.email}}
                </div>

                <div class="password1">
                    {{form.password1}}
                </div>
                <div class="password2">
                    {{form.password2}}
                </div>

                <input class="submit" type="submit" name="Create user">
            </form>
        </div>
        {{form.errors}}
        <div class="account-check">
            <p>Already have an account? <a href="/login">Log In</a></p>
        </div>

    </div>


</div>


{% endblock %}