{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <link rel="stylesheet" href="{% static 'css/overview.css' %}">
</head>

<body>
    <div class="bg"></div>
    <div class="star-field">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <h1 class="spendify">spendify</h1>
        {% include "navbar.html" %}
        <div class="welcome">
            <h1><a href="">overview</a></h1>
            <span style="color: white">Hello, {{ user.username }} </span>
            <span>
                <a href="{% url 'logout' %}">Logout</a>
            </span>
        </div>
        <div>
            {% include 'events_cal/event.html' %}
        </div>
</body>

</html>